rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow authenticated users to read and write their own user document
    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
      allow read, update: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow authenticated users to read and write their own chats
    match /chats/{chatId} {
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow read, update: if request.auth != null && resource.data.userId == request.auth.uid;
    }
    
    // Allow authenticated users to read, write and delete their own messages
    match /messages/{messageId} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      // Allow delete if the user is authenticated and the message belongs to their chat
      allow delete: if request.auth != null && 
                     (resource.data.chatId.split('_')[0] == request.auth.uid);
    }
  }
} 